<div>
  <span class='#dd2c00 deep-orange-text text-accent-4'>
<h1>Artist: <%= @artist.name %> </h1>

<% unless @artist.shop.empty? %>
    <p>
      <strong>Shop:</strong>
      <%= @artist.shop %>
    </p>
<% end %>

<% unless @artist.description.empty? %>
    <p>
      <strong>Description:</strong>
      <%= @artist.description %>
    </p>
<% end %>

<% unless @artist.schedule.empty? %>
    <p>
      <strong>Schedule:</strong>
      <%= @artist.schedule %>
    </p>
    <hr />
<% end %>

<% if @artist.portfolios.any? %>
    <h5> Portfolios </h5>
    <div class="row">

      <% @artist.portfolios.each do |portfolio| %>

        <ul class="collection">
        <li class="collection-item avatar">
        <span class="title"><%= link_to portfolio.style, artist_portfolio_path(@artist, portfolio) %></span>


        </li>
        </ul>

      <% end %>
    </div>

 <% else %>
  <h5>No Portfolios Found</h5>
<% end %>

<%= link_to 'Show All Artists', artists_path %> |
</span>
</div>
